* {
  font-family: 'Varela Round';
}
html,body {
  padding: 0;
  margin: 0;
}
/*#cdrop-head {
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
  background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  height: 150px;
  margin: 0;
  padding: 0;
}*/
#cdrop-head {
  background: rgba(49,129,204,1);
  background: -moz-linear-gradient(left, rgba(49,129,204,1) 0%, rgba(20,99,184,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(49,129,204,1)), color-stop(100%, rgba(20,99,184,1)));
  background: -webkit-linear-gradient(left, rgba(49,129,204,1) 0%, rgba(20,99,184,1) 100%);
  background: -o-linear-gradient(left, rgba(49,129,204,1) 0%, rgba(20,99,184,1) 100%);
  background: -ms-linear-gradient(left, rgba(49,129,204,1) 0%, rgba(20,99,184,1) 100%);
  background: linear-gradient(to right, rgba(49,129,204,1) 0%, rgba(20,99,184,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3181cc', endColorstr='#1463b8', GradientType=1 );
  height: 150px;
  margin: 0;
  padding: 0;
}
#cdrop-logo-full {
  /*background-image: url('img/elephant.png');*/
  position: absolute;
  left: 100px;
  top: -1px;
  /*margin: 20px;*/
}
#cdrop-head h1 {
  margin-top: 0;
  padding-top: 20px;
  color: #F1FBFE;
}
#cdrop-head small {
  color: #C3E8F2;
}
.pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid #3F889D;
  border-radius: 10px;
  background-color: #F1FBFE;
  color: #919191;
  font-size: 0.95em;2
}
.cd-navbar {
  height: 55px;
  border-bottom: 1px solid #efefef;
}
.cd-navbar ul {
  list-style: none;
}
.cd-navbar li {
  display: inline-block;
  padding: 17px 10px;
}
.cd-navbar li a:hover {
  text-decoration: none;
}
.cd-nav-item {
  text-decoration: none;
}
.cd-nav-item {
  font-weight: bold;
  font-size: 14px;
}
.nav-cdrop {

}
.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #C3E8F2;
    opacity: .8;
    margin-top: 50px;
}
.footer p {
  padding-top: 5px;
}
.communities {
  margin: 50px;
  background-color: white;
  height: 100%;
  border-radius: 15px;
}
.fixed-height {
  height: 50px;
}
.communities-pd {
  background-color: #99ccff;
  color: black;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  height: 208px;
}
.communities-pd2 {
  background-color: pink;
  color: black;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  height: 208px;
}
.communities-pd:hover {
  -moz-box-shadow: 0 0 30px lightblue;
  -webkit-box-shadow: 0 0 30px lightblue;
  box-shadow: 0 0 30px lightblue;
}
.ac_h:hover {
  text-decoration: none;
}
.cd_s_h {
  text-align: center;
  margin-bottom: 20px;
}
.d-inline {
  display: inline-block;
}
.custom-search-form{
    margin-top:10px;
}
.cd-searchbar {
  margin-top: 6px;
}
.logout {
  margin-right: 26px;
  color: white;
}
